# Java build output
bin/
target/
out/

# IDE files
.idea/
.vscode/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.settings/
.classpath
.project

# Maven
log/
target/
pom.xml.*
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/